body {
    background-color: rgb(0, 53, 99);
    color: rgb(85, 243, 209);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    color: rgb(126, 197, 248);
    margin: 2rem 0;
}
section {
    background-color: rgb(33, 123, 188);
    margin: 2rem auto;
    padding: 1.7rem;
    max-width: 700px;
    border-radius: 15px;
}
h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}
#About p {
    text-align: left;
}
#Experience ul {
    list-style: none;
    padding: 0;
}
#Experience li {
    background-color: rgb(129, 251, 237);
    color: rgb(2, 142, 170);
    padding: 0.80rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;
    font-weight: 500;
}
#Connect ul {
    list-style: none;
    padding: 0;
}
#Connect li {
    margin-bottom: 0.5rem;
}
#Connect a {
    color: blanchedalmond;
    text-decoration: none;
    font-weight: 550;
}
#Connect a:hover {
    text-decoration: underline;
}
