body {
  background-color: rgb(0, 53, 99); /* Sets the background color of the whole page */
  color: rgb(85, 243, 209); /* Default text color for page */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* font */
}
/* Main page heading - name */
h1 {
  text-align: center; /* Centers text */
  font-size: 3rem; /* Name size */
  font-weight: 500; /* Thickness of name */
  color: rgb(126, 197, 248); /* Name color */
  margin: 2rem 0; /* Space above and below the heading */
}
/* Navigation bar */
nav {
  background-color: rgb(3, 190, 214); /* Background color of nav bar */
  padding: 0.75rem; /* Inner spacing inside nav */
}
/* Navigation list container */
nav ul {
  list-style: none;
  display: flex; /* Displays list items in a row */
  justify-content: center; /* Centers items horizontally */
  gap: 50px; /* Space between nav links */
  padding: 0; /* Removes default */
  margin: 0; /* Removes default */
}
/* Navigation links */
nav a {
  color: white; /* Link text */
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Text bold */
}
/* Sections */
section {
  background-color: rgb(33, 123, 188);
  margin: 2rem auto; /* Vertical spacing and center alignmment */
  padding: 1.7rem; /* Inner spacing */
  max-width: 700px; /* Limits the section width */
  border-radius: 15px; /* Rounded corners */
}
h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem; /* Space below heading */
}
/* Paragraph inside About section */
#About p {
  text-align: left; /* Aligns text to the left */
}
/* Experience section with Flexbox */
.experience-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  background-color: rgb(0, 101, 151);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 5px 10px; /* Adds shadow */
}
/* Experience header (title and date) */
.experience-header {
  display: flex;
  justify-content: space-between; /* Pushes content to opposite sides - title and date */
  background-color: rgb(31, 53, 93);
  padding: 0.5rem;
  border-radius: 7px;
}
.experience-header h3 {
  margin: 0; /* Removes default margin from h3 */
}
.experience-header span {
  font-size: 0.9rem; /* Date text */
}
/* Skills section with Flexbox */
#Skills ul {
  display: flex;
  flex-direction: column; 
  gap: 18px;
  list-style-type: none; /* Removes bullet points */
  padding: 0;
}
#Skills li {
  background-color: black;
  color: lightseagreen;
  text-align: center;
  padding: 8px 16px;
  border-radius: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
/* Name, Year (with copyright symbol) */
footer {
  text-align: center;
}
/* Connect section with Flexbox */
.connect-links {
  display: flex;
  justify-content: left; /* Aligns links to the left */
  gap: 1.5rem; /* Space between GitHub and Slack */
}
.connect-links a {
  background-color: rgb(20, 75, 138);
  padding: 0.5rem 1rem;
  border-radius: 35px;
  box-shadow: 5px 7px;
}
/* Links inside Connect section */
#Connect a {
  color: rgb(255, 210, 142);
  text-decoration: none; /* No underline by default */
  font-weight: 550;
}
/* Hover effect for connect links */
#Connect a:hover {
  text-decoration: underline; /* Adds underline on hover */
}
/* Message Form/Leave a Message Section */
#leave-message h2 {
  text-align: center; /* Centers leave a message heading */
}
form {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Space between each form field */
}
label {
  font-weight: 700; 
}
input, textarea {
  padding: 0.75rem; /* Space inside the input */
  font-size: 1rem; /* Readable font size */
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}
textarea {
  min-height: 120px; 
  resize: vertical; /* Resize up/down only - message box */
}
button[type="submit"] {
  padding: 14px;
  font-size: 1rem;
  font-weight: bold; /* Makes "Submit" text bold */
  border: none; /* Remove default button border */
  border-radius: 6px;
  background-color: cyan; /* Submit button color */
  color: black; /* "Submit" text color */ 
  cursor: pointer; /* Indicates that it is clickable - submit button */
  transition: background-color 0.2s ease; /* Smooth hover transition */
}
button[type="submit"]:hover {
  color: cyan;
  background-color: black; /* Changes color of button when hover over it */
}
#messages li {
  display: flex; /* Arranges name, message, and remove button horizontally */ 
  align-items: flex-start; /* Align items at top */
  justify-content: space-between; /* "Remove" button to right */
  gap: 30px; /* Space between message text and button */
  padding: 10px 0; /* Vertical spacing for each message */
  border-bottom: 1px solid blanchedalmond; /* Separates messages */
}
#messages li span {
  flex: 1;
  min-width: 0; /* Text to shrink in flex container */
  word-break: break-word; /* Breaks long words if needed */
}
#messages li a {
  color: blue; /* Name color */
}
#messages button {
  margin-left: 15px; /* Space between text and button */
  padding: 6px 12px; /* Area that is clickable */
  font-size: 14px; /* "Remove" text size */
  cursor: pointer; /* Indicates that it is clickable - remove button */
}
/* MEDIA QUERIES */ 
/* For tablet style */
@media (min-width: 600px) and (max-width: 1000px) {
  body {
    background-color: rgb(105, 238, 178); /* background color change for tablet */
    color: darkcyan; /* color change for text on tablet */
    font-family: 'Times New Roman', Times, serif; /* font changes - Times New Roman for tablet */
  }
  h1 {
    font-style: italic; /* font style for tablet - on name */
    font-size: 1.3rem; /* font size change for tablet - decrease when compared to mobile */
    letter-spacing: 1px;
    color: rgb(42, 139, 165); /* name color change for tablet */
  }
  nav {
    background-color: lightgoldenrodyellow; 
    padding: 1rem 0.5rem;
  }
  nav ul {
    gap: 2.7rem; 
    flex-wrap: wrap;
    justify-content: center;
  }
  nav a {
    color: rgb(22, 129, 124);
    font-weight: bolder; /* font weight change on tablet - bolder */
  }
  section {
    background-color: lightskyblue;
    max-width: 90%;
    margin: 2.7rem auto;
    padding: 2rem;
  }
  .experience-container {
    background-color: rgb(129, 255, 198); /* background color change for experience container */
    padding: 1.5rem; 
    box-shadow: 3px 9px;
  }
  .experience-header {
    background-color: rgb(128, 210, 254); /* background color change for experience header */
  }
  #Skills ul {
    gap: 10px;
  }
  #Skills li {
    background-color: rgb(163, 251, 220);
    color: rgb(69, 102, 162);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
  }
  /* Name, Year (with copyright symbol) */
  footer {
    text-align: right; /* text placed to right */
  }
  .connect-links{
    gap: 0.8rem;
  }
  .connect-links a {
    background-color: rgb(150, 255, 227);
    padding: 0.6rem 0.65rem;
    font-size: 0.9rem;
  }
  #Connect a {
    color: rgb(42, 119, 136);
    font-weight: 600;
  }
  /* Message Form/Leave a Message Section */
  button[type="submit"] {
    color: darkcyan;
    background-color: aquamarine;
  }
  button[type="submit"]:hover {
    color: darkcyan;
    background-color: aqua;
  }
  #messages li a {
    color: black;
  }
}
/* For mobile style */
@media (max-width: 500px) {
  body {
    background-color: indigo; /* background color change for mobile */
    color: bisque; /* color change for text on mobile */
    font-family: 'Courier New', Courier, monospace; /* font changes - Courier New for mobile */
  }
  h1 {
    font-size: 1.8rem;
    color: rgb(169, 78, 255); /* name color change for mobile */
    margin: 0.75rem 0;
    line-height: 1.2;
  }
  nav {
    background-color: rgb(105, 27, 104);
    padding: 0.8rem 0.8rem; 
  }
  nav ul {
    font-style: italic; /* font style for mobile - on nav list */
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav a {
    color: violet;
    font-weight: lighter; /* font weight change for mobile - lighter */
  }
  section {
    background-color: purple;
    max-width: 85%;
    margin: 55px auto;
    padding: 1.25rem;
  }
  .experience-container {
    background-color: rgb(112, 50, 200); /* background color change for experience container */
  }
  .experience-header {
    background-color: rgb(180, 83, 210); /* background color change for experience header */ 
  }
  #Skills ul {
    gap: 25px;
    flex-wrap: wrap;
    flex-direction: row; /* places skills list horizontally */
  }
  #Skills li {
    background-color: rgb(218, 139, 218);
    color: rgb(105, 59, 204); /* skills list text color */
    font-family: 'Courier New', Courier, monospace;
    font-size: 300;
    font-weight: bolder;
  }
  /* Name, Year (with copyright symbol) */
  footer {
    text-align: left; /* text placed to left */
  }
  .connect-links {
    gap: 0.75rem;
  }
  .connect-links a {
    background-color: rgb(162, 112, 255);
    padding: 0.45rem 0.75rem;
    font-size: 0.8rem;
  }
  /* Message Form/Leave a Message Section */
  button[type="submit"] {
    color: wheat;
    background-color: darkorchid;
  }
  button[type="submit"]:hover {
    color: black;
    background-color: blueviolet;
  }
  #messages li a {
    color: plum;
  }
}
